body {
	background-color: $ver-dark-blue;
}

main {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto 20px;
}

.jeremy-block {
	.profile {
		position: relative;
		z-index: 2;
		display: grid;
		grid-template-columns: 30% auto;
		grid-template-rows: 40% auto;
		align-content: center;
		row-gap: 5px;
		background-color: $blue;
		border-radius: 15px;
		padding: 30px 20px;

		img {
			width: 80%;
			object-fit: cover;
			grid-area: 1 / 1 / 3 / 2;
			border-radius: 50%;
			border: 2px solid white;
		}

		p {
			color: $pal-blue;
			margin-left: 15px;

			&:first-of-type {
				margin-top: 20px;
				font-size: 0.7rem;
				font-weight: 300;
			}
			&:last-of-type {
				font-size: 1.1rem;
				font-weight: 400;
				word-spacing: 8px;
			}
		}
	}

	.buttons-block {
		position: relative;
		z-index: 1;
		background-color: $dark-blue;
		padding: 40px 20px 0;
		transform: translateY(-40px);
		border-radius: 0 0 15px 15px;
		display: flex;
		justify-content: space-between;
		overflow: hidden; // hide buttons bg overflow

		button {
			color: $pal-blue;
			background-color: inherit;
			border: none;
			font-size: 0.9rem;
			transition: 0.3s;
			padding: 20px;

			&:nth-child(1) {
				transform: translateX(-20px); //Fix vertical alignment distorted by the padding
			}
			&:nth-child(3) {
				transform: translateX(20px); //Fix vertical alignment distorted by the padding
			}

			&:hover {
				color: $white;
				cursor: pointer;
			}
		}
	}
}

.description-block {
	position: relative;
	height: 155px;
	margin-bottom: 30px;

	.bg {
		position: relative;
		z-index: 1;
		border-radius: 15px;
		display: flex;
		justify-content: flex-end;
		height: 70px;
		overflow: hidden;

		img {
			margin-right: 15px;
			width: 80px;
			object-fit: contain;
			transform: translateY(-10px);
		}
	}

	.work {
		background-color: $light-orange;
	}
	.play {
		background-color: $soft-blue;
	}
	.study {
		background-color: $light-red;
	}
	.exercise {
		background-color: $lime-green;
	}
	.social {
		background-color: $violet;
	}
	.self-care {
		background-color: $soft-orange;
	}

	.description {
		position: relative;
		z-index: 2;
		background-color: $dark-blue;
		padding: 20px;
		transform: translateY(-30px); // Fix vertical alignment distorted by the padding
		border-radius: 15px;
		color: $white;
		transition: 0.5s;

		&:hover {
			background-color: $unsaturated-blue;
		}

		.first-line {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				font-weight: 500;
				font-size: 0.9rem;
			}

			span {
				background: url("../../images/icon-ellipsis.svg") no-repeat center;
				height: 5px;
				width: 21px;
				padding: 20px 25px;
				transform: translateX(10px); // keep vertical alignment while padding is 20px
				// and the bg image is centered

				&:hover {
					cursor: pointer;
				}
			}
		}

		.second-line {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 5px;

			p:first-of-type {
				font-size: 1.4rem;
				opacity: 0.85;
			}
			p:last-of-type {
				color: $pal-blue;
				font-size: 0.8rem;
			}
		}
	}
}
