@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #0f1424;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto 20px;
}

.jeremy-block .profile {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  -ms-grid-rows: 40% auto;
      grid-template-rows: 40% auto;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 5px;
  background-color: #5847eb;
  border-radius: 15px;
  padding: 30px 20px;
}

.jeremy-block .profile img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 50%;
  border: 2px solid white;
}

.jeremy-block .profile p {
  color: #bdc1ff;
  margin-left: 15px;
}

.jeremy-block .profile p:first-of-type {
  margin-top: 20px;
  font-size: 0.7rem;
  font-weight: 300;
}

.jeremy-block .profile p:last-of-type {
  font-size: 1.1rem;
  font-weight: 400;
  word-spacing: 8px;
}

.jeremy-block .buttons-block {
  position: relative;
  z-index: 1;
  background-color: #1c1f4a;
  padding: 40px 20px 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.jeremy-block .buttons-block button {
  color: #bdc1ff;
  background-color: inherit;
  border: none;
  font-size: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px;
}

.jeremy-block .buttons-block button:nth-child(1) {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.jeremy-block .buttons-block button:nth-child(3) {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.jeremy-block .buttons-block button:hover {
  color: #f0f0f0;
  cursor: pointer;
}

.description-block {
  position: relative;
  height: 155px;
  margin-bottom: 30px;
}

.description-block:hover .description {
  background-color: #6f76c8;
}

.description-block .bg {
  position: relative;
  z-index: 1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70px;
  overflow: hidden;
}

.description-block .bg img {
  margin-right: 15px;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.description-block .work {
  background-color: #ff8c66;
}

.description-block .play {
  background-color: #56c2e6;
}

.description-block .study {
  background-color: #ff5c7c;
}

.description-block .exercise {
  background-color: #4acf81;
}

.description-block .social {
  background-color: #7536d3;
}

.description-block .self-care {
  background-color: #f1c65b;
}

.description-block .description {
  position: relative;
  z-index: 2;
  background-color: #1c1f4a;
  padding: 20px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  border-radius: 15px;
  color: #f0f0f0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.description-block .description .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-block .description .first-line p {
  font-weight: 500;
  font-size: 0.9rem;
}

.description-block .description .first-line span {
  background: url("../../images/icon-ellipsis.svg") no-repeat center;
  height: 5px;
  width: 21px;
  padding: 20px 25px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.description-block .description .first-line span:hover {
  cursor: pointer;
}

.description-block .description .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.description-block .description .second-line p:first-of-type {
  font-size: 1.4rem;
  opacity: 0.85;
}

.description-block .description .second-line p:last-of-type {
  color: #bdc1ff;
  font-size: 0.8rem;
}

@media screen and (min-width: 900px) {
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  main {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% auto auto auto;
        grid-template-columns: 25% auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-column-gap: 25px;
            column-gap: 25px;
    row-gap: 0px;
  }
  main .jeremy-block {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
    height: 400px;
  }
  main .jeremy-block .profile {
    -ms-grid-columns: 30%;
        grid-template-columns: 30%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 10px;
    padding-bottom: 30px;
  }
  main .jeremy-block .profile img {
    width: 120%;
    grid-area: auto / auto / auto / auto;
  }
  main .jeremy-block .profile p {
    margin-left: 0;
  }
  main .jeremy-block .profile p:first-of-type {
    margin-top: 10px;
  }
  main .jeremy-block .profile p:last-of-type {
    font-size: 2rem;
    font-weight: 300;
    color: #f0f0f0;
  }
  main .jeremy-block .buttons-block {
    padding: 40px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .jeremy-block .buttons-block button {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
  }
  main .jeremy-block .buttons-block button:nth-child(1) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  main .jeremy-block .buttons-block button:nth-child(3) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 12px 20px 20px;
  }
  main .description-block {
    height: auto;
    margin: 0;
  }
  main .description-block .description {
    padding-top: 10px;
  }
  main .description-block .description .second-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .description-block .description .second-line p:first-of-type {
    font-size: 2.5rem;
  }
  main .description-block .description .second-line p:last-of-type {
    margin-top: 7px;
  }
}
